# ID da planilha do Google Sheets (fica na URL, entre /d/ e /edit)
# Ex: https://docs.google.com/spreadsheets/d/1NA1RqU8OQVIrNcAR8Hy6I3l-1dw9s2BLBGopar8T5hM/edit
NEXT_PUBLIC_SHEET_ID=1NA1RqU8OQVIrNcAR8Hy6I3l-1dw9s2BLBGopar8T5hM

# Nome da aliança/side exibido no site
NEXT_PUBLIC_SIDE_NAME=RISE
